.page {
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 80px;
    height: 80%;
    text-align: center;
}
.green {
    color: green;
    cursor: pointer;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
.topper {
    color: white;
}
.warningSelf {
    color: orangered !important;
}
.dangerSelf {
    color: red !important;
}